@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  color: silver;
}
main {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcC00NjctdGQtMTUxNDMtMDQtbW9ja3VwXzEuanBn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container {
  position: relative;
  top: 50%;
  left: 50%;
  background-color: rgba(56, 107, 118, 0.958);
  height: clamp(400px, 65vh, 95vh);
  width: auto;
  aspect-ratio: 3/4;

  transform: translate(-50%, -50%);
  border-radius: 1rem;
  text-align: center;
  padding: 3rem;
}

#container img {
  max-width: 15%;
  max-height: 15%;
  margin-bottom: 10%;
  color: white;
}

#container input {
  color: white;
  line-height: 5vh;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(128, 128, 128, 0.475);
}
#container input::placeholder {
  color: silver;
}

#container input[type="button"] {
  margin-top: 10%;
  width: 50%;
  border-radius: 100vw;
  color: rgb(65, 116, 126);
  background-color: white;
  min-width: 10px;
  cursor: pointer;
}
#container span {
  font-size: clamp(12px, calc(8px + 30%), 1rem);
  margin-top: 5%;
  display: inline-block;
  width: 75%;
}

#container .bottomp {
  position: absolute;
  bottom: 0%;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  line-height: 5vh;
  font-size: clamp(14px, calc(80px + 50%), 1rem);
}
#container a {
  cursor: pointer;
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

.flashError {
  color: red !important;
}
.flashError::-webkit-input-placeholder {
  color: red !important;
}
.smooth::-webkit-input-placeholder {
  transition: ease 0.5s;
}
.smooth {
  transition: ease 0.5s;
}
#errormsg {
  display: inline-block;
  width: auto;
  padding: 0px 5%;
  background-color: hsl(0, 100%, 79%);
  border-radius: 0.75vh;
  border: 2px red solid;
  color: rgb(147, 0, 0);
  font-size: 1.4rem;
  font-weight: 900;
}

.successmsg{
  background-color: hsl(120, 100%, 80%);
  border: 2px rgb(0, 255, 0) solid;
  color: rgb(0, 147, 0);
}